<h3> Hello <%= @user.name -%>, </h3>
<p>
  Your account is activated by Administrator. You can now login
  to your account by visiting our <%= link_to "http://conference.proletarianarts.org", root_path -%>
</p>
