<% content_for(:title,  " – Accommodations") %>

<h4><a href="#on">On Campus</a> | <a href="#near">Near Campus</a> | <a href="#downtown">Downtown</a></h4>
<h2><a name="on"></a>On Campus</h2>
<p>
  <a href="site"> Campus Tower Suite Hotel ($$$)</a>
</p>

<h2><a name="near"></a>Near Campus</h2>
<p>
  <a href="site"> HI Edmonton Hostel ($)</a><br />
  <a href="site"> Mettera Hotel ($$$)</a><br />
  <a href="site"> Varscona Hotel ($$)</a><br />
</p>

<h2><a name="downtown"></a>Downtown</h2>
<p>
  <a href="site">Coast Edmonton House Hotel ($$)</a><br />
  <a href="site">Alberta Place Suite Hotel ($$)</a><br />
  <a href="site">Comfort Inn ($$)</a><br />
  <a href="site">Holiday Inn ($$)</a><br />
  <a href="site">Matrix Hotel ($$$)</a><br />
  <a href="site">Crowne Plaza Hotel ($$$)</a><br />
  <a href="http://gohostels.ca/">GO Backpackers Hostel ($)</a><br />
</p>

<p>
  Details on conference rates TBA.
</p>
<p>
  More accommodation options available at <a href="http://www.edmonton.com/for-visitors/accommodations.aspx">Edmonton Tourism</a>.
</p>
