<% content_for(:title,  " – Call for Papers") %>

<div id="content">
	<div class="content_inner">
		<p>Call for papers details TBA.</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>

	</div><!-- ends content-inner -->
</div><!-- ends content -->
