<% content_for(:title,  " – Contact Us") %>

<h2>Proletarian Arts & Culture</h2>
<p>
  c/o Professor Gary Kelly<br /> 
  Department of English and Film Studies<br /> 
  Humanities Centre 3-5,<br />
  University of Alberta <br />
  Edmonton, Alberta, Canada T6G 2E5
</p>
<p>
  E-mail: <a href="mailto:ProletarianArts@gmail.com">ProletarianArts@gmail.com</a>
</p>
