<% content_for(:title,  " – Home") %>

<div id="content">
	<div class="content_inner">
    <p>
      The Proletarian Arts & Culture International Conference and Arts Festival is a two 
      part event including an academic conference August 30 - September 1 and an overlapping 
      week-long arts festival August 26 - September 1, taking place at the University of Alberta 
      and participating venues in Edmonton, Alberta, Canada.
    </p>
    <p>
      The conference and its associated arts festival consider proletarian arts and culture here 
      and elsewhere, now and in the past. Proletarian arts are understood as those that “represent” 
      the proletariat, however defined, in the double and linked sense of “depicting” and “speaking for.” 
      These arts include literature in all genres; graphic arts; film; theatre, including live performance 
      and radio plays; music, including folk music, ballads, opera, orchestral, and other forms; 
      performing arts including dance; and applied arts including architecture, urban planning, 
      and industrial design. 
    </p>
    <p>   
      Our vision for the conference is to blend traditional forms of academic communication 
      (e.g., panels, roundtables, keynotes) with artistic exhibitions, cutting-edge workshops, and 
      non-academic speakers that will enable unique learning opportunities. 
    </p>
    <p>
      The coordination of an arts festival with an academic conference reflects one of our larger project 
      goals: to explore and celebrate proletarian arts and culture in its many forms in ways that connect 
      the university with the greater community through publicly accessible means of investigation and 
      communication (e.g., workshops, dramatic performances, mini film festivals, extra-campus locations 
      and events). We are proudly affiliated with the events of Project 2012, launched by the Alberta 
      Federation of Labour (AFL) and the Alberta Labour History Institute (ALHI) to mark 100 years of 
      struggle and solidarity in our province.
    </p>
    <p>
      The international conference and arts festival is part of Proletarian Arts & Culture, an 
      interdisciplinary and collaborative research program including an online resource centre and a 
      multimedia publication focused primarily on working class history and culture from the 1920s to the 
      1940s as well as related literature and arts before and since. This work balances the local with 
      global movements and legacies, considering arts in different countries, political regimes, and social 
      and cultural contexts. The project is based at the University of Alberta, under the direction of 
      Dr. Gary Kelly of the Department of English and Film Studies, with partnerships at Newcastle University.
    </p>



	</div><!-- ends content-inner -->
</div><!-- ends content -->
