<% content_for(:title,  " – Programme") %>

<div id="content">
	<div class="content_inner">
		<p>Conference programme details TBA.</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>

	</div><!-- ends content-inner -->
</div><!-- ends content -->
