<% content_for(:title,  " – Travel Alberta") %>

<p>
  There are many things to see and do in Alberta, especially in the summer.
</p>
<p>
  Requiring half a day (located about 30 km east of Edmonton):
</p>
<ul>
  <li><a href="http://www.pc.gc.ca/eng/pn-np/ab/elkisland/index.aspx">Elk Island National Park</a></li>
  <li><a href="http://www.history.alberta.ca/ukrainianvillage/default.aspx">Ukrainian Heritage Cultural Centre</a></li>
</ul>
<p>
  Requiring a full day or more:
</p>
<ul>
  <li><a href="http://www.pc.gc.ca/eng/pn-np/ab/jasper/index.aspx">Jasper National Park </a></li>
  <li><a href="http://www.pc.gc.ca/pn-np/ab/banff/index.aspx">Banff National Park</a></li>
  <li><a href="http://www.pc.gc.ca/pn-np/ab/waterton/index.aspx">Waterton Lakes National Park </a></li>
  <li><a href="http://www.tyrrellmuseum.com/">Royal Tyrrell Museum of Paleontology </a></li>
</ul>
<p>
  Consult <a href="http://www.travelalberta.com">Travel Alberta</a> for more suggestions and information. The following sites are
  also useful for travel and transportation arrangements:
</p>
<ul>
  <li><a href="http://www.discoverjasper.com/">Jasper National Park </a></li>
  <li><a href="http://www.discoverbanff.com/">Banff National Park </a></li>
  <li><a href="http://www.yellowheadtours.com/id0007/transportation.html">Yellowhead Transportation and Tours </a></li>
  <li><a href="http://www.brewster.ca/">Brewster Tours </a></li>
</ul>
