<% content_for(:title,  " – Around Edmonton") %>

<div id="content">
	<div class="content_inner">
		<p>Coming Soon...</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div><!-- ends content-inner -->
</div><!-- ends content -->
