development:
  adapter: postgresql
  reconnect: false
  pool: 5
  host: localhost
  password:
  database: prolit_conf_development

test: &test
  adapter: postgresql
  reconnect: false
  pool: 5
  host: localhost
  password:
  database: prolit_conf_test

production:
  adapter: postgresql
  reconnect: false
  pool: 5
  host: localhost
  password:
  database: prolit_conf_production

cucumber:
  <<: *test
