development:
  adapter: postgresql
  reconnect: false
  pool: 5
  host: localhost
  username: hemant
  password: 
  database: prolit_conf_development

test:
  adapter: postgresql
  reconnect: false
  pool: 5
  host: localhost
  username: hemant
  password: 
  database: prolit_conf_test

production:
  adapter: postgresql
  reconnect: false
  pool: 5
  host: localhost
  username: hemant
  password: 
  database: prolit_conf_production
