<header>
  <div class="grid_5 prefix_8" id="navigation-links">
    <a href="http://twitter.com/#!/ProletarianArts" target="_blank"><div id="nav-conference"></div></a>
    <a href="http://rss.com" target="_blank"><div id="nav-research"></div></a>
    <a href="http://facebook.com/ProleArts" target="_blank"><div id="nav-journal"></div></a>
  </div>
  <div class="clear"></div>
</header>
<div class="clear"></div>
