<header>
  <div class="grid_5 prefix_8" id="navigation-links">
    <a href="#conference"><div id="nav-conference"></div></a>
    <a href="#research"><div id="nav-research"></div></a>
    <a href="#journal"><div id="nav-journal"></div></a>
  </div>
  <div class="clear"></div>
</header>
<div class="clear"></div>
