<div id="sidebar">
  <ul>
    <%- default_pages_links.each do |link| -%>
      <li><%= link -%></li>
    <% end -%>

    <%- if user_signed_in? -%>
      <li><%= user_signout_link %></li>
    <%- else -%>
      <li><%= link_to "SIGN UP", new_user_path %></li>
      <li><%= link_to "LOGIN", new_user_session_path %></li>
    <% end -%>
  </ul>
</div>
